@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* header start */
header{
    width: 100%;
    height: 854px;
    border: 3px solid rgba(255, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.7)),url(./photos/bg.png)no-repeat center / cover;
    /* opacity: .5; */
    /* z-index: -1; */
    
}


 header .container{
width: 90%;
height: 100px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;

/* background: #000; */
/* margin-top: 50px; */


}
header .container .img{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
header .container ul a{
    display: none;
}
header .container ul{
    width: 35%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .container ul li a{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    display: block;
}
header .tort img{
    width: 50%;
    height: 500px;
    margin-top: 150px;
    /* margin-left: 80px; */

}
.header_button .container{
    width: 90%;
    height: 100px;


}
.header_button .perfect{
    width: 40%;
    height: 360px;
 /* border: 3px solid red; */
translate: 895px;
align-items: center;
margin-top: 60px;
/* background: #000; */
margin-top: -30%;
margin-right: 40px;

}
.header_button .perfect h6{
    color: #e58f00;
    font-size: 66px;
    letter-spacing: 2px;
    margin-bottom: 15px;

}
.header_button .perfect p{
color: #ffffff;
margin-bottom: 25px;
font-size: 25px;
width: 70%;

}
.header_button .perfect h5{
    color: #28282d;
    font-size: 21px;
    /* border: 3px solid red; */
    border-radius: 10%;
    background: #e58f00;
    display: flex;
align-items: center;
justify-content: center;
}
.header_button .perfect h5{
    width: 203px;
    height: 70px;
}
/* header end */
/* footer start */
.footer{
    width: 100%;
    height: 430px;
    background: #28282d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.footer .container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #28282d; */
    /* border: 3px solid red; */


}
.footer .container .write{
    width: 625px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .container .write .icon{
    width: 10%;
    height: 80%;
    display: flex;
align-items: center;
justify-content: center;
}
.footer .container .write h6{
    font-size: 30px;
    color:#ffffff ;
    

}
.footer .container .write ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 120px;
    line-height: 200px;
}
.footer .container .write ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #e7e6e6;
}
.footer .container .img{
height: 82px;
color: #e58f00;
}
.footer .container .icon{
    border: 2px solid red;

}
/* footer end */
/* media start */
@media (max-width:576px){
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    /* header start */
    header{
        width: 100%;
        height: auto;
        border: 3px solid rgba(255, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.7)),url(./photos/bg.png)no-repeat center / cover;
        /* opacity: .5; */
        /* z-index: -1; */
        
    }
    
    
     header .container{
    width: 100%;
    height: auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    
    /* background: #000; */
    /* margin-top: 50px; */
    
    
    }
    header .container .img{
        width: 20%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    /* header .container ul a{
        display: none;
    }
    header .container ul{
        width: 35%;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    } */
    
    header .container ul li a{

        color: black;

    
    }
    .menu{
        display: block;
    }
    .nav-menu{
        position: fixed;
        color: red;
        left: -50%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: start;
        transition: 0.5s;
    }
    .nav-item{
        margin: 8px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .menu .fa{
        font-size: 25px;
        color: #ffffff;
        cursor: pointer;
    }
    .header_button{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    header .tort img{
        width: 100%;
        height: 150px;
        margin-top: 150px;
        margin-left: 0px;
 
    }

    .header_button .perfect{
        width: 50%;
        height: 200px;
     /* border: 3px solid red; */
    translate: 0px;
    align-items: center;

    /* background: #000; */
    margin-top: 50%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    
    }
    .header_button .perfect h6{
        color: #e58f00;
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    /* background: #000; */
    }
    .header_button .perfect p{
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 12px;
    width: 100%;
        
    
    }
    .header_button .perfect h5{
        color: #28282d;
        font-size: 12px;
        /* border: 3px solid red; */
        border-radius: 10%;
        background: #e58f00;
   
    }
    .header_button .perfect h5{
        width:70px;
        height: 30px;
        
    }
    /* header end */
    /* footer start */
    .footer{
        width: 100%;
        height: 430px;
        background: #28282d;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .footer .container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background: #28282d; */
        /* border: 3px solid red; */
    
    
    }
    .footer .container .write{
        width: 625px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .container .write .icon{
        width: 10%;
        height: 80%;
        display: flex;
    align-items: center;
    justify-content: center;
    }

    .footer .container .write ul{
        width: 60%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 120px;
        line-height: 200px;
    }
    .footer .container .write ul li a{
        font-family: 'Montserrat', sans-serif;
        color: #e7e6e6;
        font-size: 14px;
    }
    .footer .container .img{
        width: 100%;
    height: 82px;
    color: #e58f00;
    }
    .footer .container .img img{
        width: 60%;
    height: 62px;
    color: #e58f00;
    }
    .footer .container .icon{
        border: 2px solid red;
    
    }
}


 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width:576px) and (max-width:768px){ 
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    /* header start */
    header{
        width: 100%;
        height: auto;
        border: 3px solid rgba(255, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.7)),url(./photos/bg.png)no-repeat center / cover;
        /* opacity: .5; */
        /* z-index: -1; */
        
    }
    
    
     header .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background: #000; */
    /* margin-top: 50px; */
    
    
    }
    header .container .img{
        width: 20%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    header .container ul a{
        display: none;
    }
    header .container ul{
        width: 35%;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    header .container ul li a{
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        display: none;
    
    }
    .header_button{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    header .tort img{
        width: 100%;
        height: 200px;
        margin-top: 80px;
        margin-left: 0px;
    }

    .header_button .perfect{
        width: 50%;
        height: 200px;
     /* border: 3px solid red; */
    translate: 0px;
    align-items: center;

    /* background: #000; */
    margin-top:80px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    
    }
    .header_button .perfect h6{
        color: #e58f00;
        font-size: 30px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    /* background: #000; */
    }
    .header_button .perfect p{
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 15px;
    width: 100%;
        
    
    }
    .header_button .perfect h5{
        color: #28282d;
        font-size: 15px;
        /* border: 3px solid red; */
        border-radius: 10%;
        background: #e58f00;
   
    }
    .header_button .perfect h5{
        width:90px;
        height: 40px;
        
    }
    /* header end */
    /* footer start */
    .footer{
        width: 100%;
        height: 430px;
        background: #28282d;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .footer .container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background: #28282d; */
        /* border: 3px solid red; */
    
    
    }
    .footer .container .write{
        width: 625px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .container .write .icon{
        width: 10%;
        height: 80%;
        display: flex;
    align-items: center;
    justify-content: center;
    }

    .footer .container .write ul{
        width: 60%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 120px;
        line-height: 200px;
    }
    .footer .container .write ul li a{
        font-family: 'Montserrat', sans-serif;
        color: #e7e6e6;
        font-size: 14px;
    }
    .footer .container .img{
        width: 100%;
    height: 82px;
    color: #e58f00;
    }
    .footer .container .img img{
        width: 60%;
    height: 62px;
    color: #e58f00;
    }
    .footer .container .icon{
        border: 2px solid red;
    
    }
}
  

@media (min-width: 768px  )and (max-width:992px){ 
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    /* header start */
    header{
        width: 100%;
        height: auto;
        border: 3px solid rgba(255, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.7)),url(./photos/bg.png)no-repeat center / cover;
        /* opacity: .5; */
        /* z-index: -1; */
        
    }
    
    
     header .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background: #000; */
    /* margin-top: 50px; */
    
    
    }
    header .container .img{
        width: 20%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    header .container ul a{
        display: none;
    }
    header .container ul{
        width: 35%;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    header .container ul li a{
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;

    
    }
    .header_button{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    header .tort img{
        width: 100%;
        height: 300px;
        margin-top: 150px;
        margin-left: 0px;
        
    }

    .header_button .perfect{
        width: 50%;
        height: 200px;
     /* border: 3px solid red; */
    translate: 0px;
    align-items: center;

    /* background: #000; */
    margin-top:200px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    
    }
    .header_button .perfect h6{
        color: #e58f00;
        font-size: 40px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    /* background: #000; */
    }
    .header_button .perfect p{
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 21px;
    width: 100%;
        
    
    }
    .header_button .perfect h5{
        color: #28282d;
        font-size: 27px;
        /* border: 3px solid red; */
        border-radius: 10%;
        background: #e58f00;
   
    }
    .header_button .perfect h5{
        width:150px;
        height: 70px;
        
    }
    /* header end */
    /* footer start */
    .footer{
        width: 100%;
        height: 430px;
        background: #28282d;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .footer .container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background: #28282d; */
        /* border: 3px solid red; */
    
    
    }
    .footer .container .write{
        width: 525px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .container .write .icon{
        width: 10%;
        height: 80%;
        display: flex;
    align-items: center;
    justify-content: center;
    }

    .footer .container .write ul{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 120px;
        line-height: 200px;
    }
    .footer .container .write ul li a{
        font-family: 'Montserrat', sans-serif;
        color: #e7e6e6;
        font-size: 15px;
    }
    .footer .container .img{
    height: 70px;
    color: #e58f00;
    
    }
    .footer .container .img img{
        width: 60%;
    height: 62px;
    color: #e58f00;
    }
    .footer .container .icon{
    font-size: 18px;
    margin-right: 50px;
    }

 }

@media (min-width: 992px  )and (max-width:1200px) { 
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    /* header start */
    header{
        width: 100%;
        height: auto;
        border: 3px solid rgba(255, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.7)),url(./photos/bg.png)no-repeat center / cover;
        /* opacity: .5; */
        /* z-index: -1; */
        
    }
    
    
     header .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background: #000; */
    /* margin-top: 50px; */
    
    
    }
    header .container .img{
        width: 20%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    header .container ul a{
        display: none;
    }
    header .container ul{
        width: 35%;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    header .container ul li a{
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;

    
    }
    .header_button{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    header .tort img{
        width: 100%;
        height: 300px;
        margin-top: 150px;
        margin-left: 0px;
        
    }

    .header_button .perfect{
        width: 50%;
        height: 200px;
     /* border: 3px solid red; */
    translate: 0px;
    align-items: center;

    /* background: #000; */
    margin-top:200px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    
    }
    .header_button .perfect h6{
        color: #e58f00;
        font-size: 40px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    /* background: #000; */
    }
    .header_button .perfect p{
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 21px;
    width: 100%;
        
    
    }
    .header_button .perfect h5{
        color: #28282d;
        font-size: 27px;
        /* border: 3px solid red; */
        border-radius: 10%;
        background: #e58f00;
   
    }
    .header_button .perfect h5{
        width:150px;
        height: 70px;
        
    }
    /* header end */
    /* footer start */
.footer{
    width: 100%;
    height: 430px;
    background: #28282d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.footer .container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #28282d; */
    /* border: 3px solid red; */


}
.footer .container .write{
    width: 825px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .container .write .icon{
    width: 10%;
    height: 80%;
    display: flex;
align-items: center;
justify-content: center;
}

.footer .container .write ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 120px;
    line-height: 200px;
    margin-left: 60px;
}
.footer .container .write ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #e7e6e6;
    font-size: 20px;
}
.footer .container .img{
height: 70px;
color: #e58f00;

}
.footer .container .img img{
    width: 80%;
height: 62px;
color: #e58f00;
}
.footer .container .icon{
font-size: 25px;
margin-right: 50px;
}
 }

 @media (min-width: 1200px  )and (max-width:1400px) { 
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    /* header start */
    header{
        width: 100%;
        height: auto;
        border: 3px solid rgba(255, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.7)),url(./photos/bg.png)no-repeat center / cover;
        /* opacity: .5; */
        /* z-index: -1; */
        
    }
    
    
     header .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background: #000; */
    /* margin-top: 50px; */
    
    
    }
    header .container .img{
        width: 20%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    header .container ul a{
        display: none;
    }
    header .container ul{
        width: 35%;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    header .container ul li a{
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;

    
    }
    .header_button{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    header .tort img{
        width: 100%;
        height: 300px;
        margin-top: 150px;
        margin-left: 0px;
        
    }

    .header_button .perfect{
        width: 50%;
        height: 200px;
     /* border: 3px solid red; */
    translate: 0px;
    align-items: center;

    /* background: #000; */
    margin-top:200px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    
    }
    .header_button .perfect h6{
        color: #e58f00;
        font-size: 40px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    /* background: #000; */
    }
    .header_button .perfect p{
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 21px;
    width: 100%;
        
    
    }
    .header_button .perfect h5{
        color: #28282d;
        font-size: 27px;
        /* border: 3px solid red; */
        border-radius: 10%;
        background: #e58f00;
   
    }
    .header_button .perfect h5{
        width:150px;
        height: 70px;
        
    }
    /* header end */
    /* footer start */
    .footer{
        width: 100%;
        height: 430px;
        background: #28282d;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .footer .container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background: #28282d; */
        /* border: 3px solid red; */
    
    
    }
    .footer .container .write{
        width: 825px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .container .write .icon{
        width: 10%;
        height: 80%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .footer .container .write ul{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 120px;
        line-height: 200px;
        margin-left: 60px;
    }
    .footer .container .write ul li a{
        font-family: 'Montserrat', sans-serif;
        color: #e7e6e6;
        font-size: 20px;
    }
    .footer .container .img{
    height: 70px;
    color: #e58f00;
    
    }
    .footer .container .img img{
        width: 80%;
    height: 62px;
    color: #e58f00;
    }
    .footer .container .icon{
    font-size: 25px;
    margin-right: 50px;
    }
     }


 @media (min-width: 1400px  ){ 
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    /* header start */
    header{
        width: 100%;
        height: auto;
        border: 3px solid rgba(255, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
        background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.7)),url(./photos/bg.png)no-repeat center / cover;
        /* opacity: .5; */
        /* z-index: -1; */
        
    }
    
    
     header .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background: #000; */
    /* margin-top: 50px; */
    
    
    }
    header .container .img{
        width: 20%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    header .container ul a{
        display: none;
    }
    header .container ul{
        width: 35%;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    header .container ul li a{
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;

    
    }
    .header_button{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    header .tort img{
        width: 100%;
        height: 300px;
        margin-top: 150px;
        margin-left: 0px;
        
    }

    .header_button .perfect{
        width: 50%;
        height: 200px;
     /* border: 3px solid red; */
    translate: 0px;
    align-items: center;

    /* background: #000; */
    margin-top:200px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    
    }
    .header_button .perfect h6{
        color: #e58f00;
        font-size: 40px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    /* background: #000; */
    }
    .header_button .perfect p{
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 25px;
    width: 100%;
        
    
    }
    .header_button .perfect h5{
        color: #28282d;
        font-size: 30px;
        /* border: 3px solid red; */
        border-radius: 10%;
        background: #e58f00;
   
    }
    .header_button .perfect h5{
        width:200px;
        height: 100px;
        
    }
    /* header end */
    /* footer start */
    .footer{
        width: 100%;
        height: 430px;
        background: #28282d;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .footer .container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background: #28282d; */
        /* border: 3px solid red; */
    
    
    }
    .footer .container .write{
        width: 825px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .container .write .icon{
        width: 10%;
        height: 80%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .footer .container .write ul{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 120px;
        line-height: 200px;
        margin-left: 60px;
    }
    .footer .container .write ul li a{
        font-family: 'Montserrat', sans-serif;
        color: #e7e6e6;
        font-size: 20px;
    }
    .footer .container .img{
    height: 70px;
    color: #e58f00;
    
    }
    .footer .container .img img{
        width: 80%;
    height: 62px;
    color: #e58f00;
    }
    .footer .container .icon{
    font-size: 25px;
    margin-right: 50px;
    }
     }   
/* media end */